<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <style>
      a {
        color: #212529;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <div>
        <div class="py-3 text-center">
          <h2>Minkomni</h2>
        </div>

        <div class="row">
          <div class="col-md-12">
            <p>这是我放置零七八碎功能的网站，没必要对网站上其他的内容感到好奇</p>
            <p>如果你想了解我，可以去看看我的
              <a href="https://github.com/gaogaotiantian" target="_blank">
                <i class="fa-brands fa-github pr-1"></i> github
              </a>
              ,
              <a class="px-2" href="https://space.bilibili.com/245645656" target="_blank">
                <i class="fa-brands fa-bilibili pr-1"></i> B站
              </a>
              或者
              <a href="https://www.zhihu.com/people/gao-tian-50" target="_blank">
                <i class="fa-brands fa-zhihu fa-xl pr-1"></i></a>
            </p>
          </div>
        </div>

      </div>

    </div>
  </body>
  <script>
  </script>
</html>
